<% action= post.persisted? ? post_url(post) : posts_url %>
<% method= post.persisted? ? "PATCH" : "POST" %>
<% button_label= post.persisted? ? "Submit Changes!" : "Submit!" %>

<form action="<%= action%>" method="POST">
  <input type="hidden" name="_method" value="<%= method%>">
  Title:<br>
  <input type="text" name="post[title]" value="<%= post.title%>">
  <br>
  Url:
  <br>
  <input type="text" name="post[url]" value="<%= post.url%>">
  <br>
  Content:
  <br>
  <textarea name="post[content]"><%= post.content %></textarea>
  <br>
  Posted in:
  <br>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% @subs.each do |sub|%>
    <input type="checkbox" name="post[sub_ids][]" value="<%=sub.id%>"
     <%="checked" if post.subs.pluck(:id).include?(sub.id)%>>
    <%= sub.title %><br>
  <%end%>
  <input type="hidden" name="post[author_id]" value="<%= current_user.id%>">
  <input type="submit" value="<%= button_label%>">
</form>
