<h1><%= @post.title %></h1>
<ul>
<% @post.attributes.each do |key, value| %>
  <li><%= "#{key}: #{value}" %></li>
<% end %>
<% @post.subs.each do |sub|%>
  <li><%= sub.title%></li>
<% end %>

<p>Comments</p>
<ul>
<% @all_comments.each do |top_child_comment| %>
  <% next unless top_child_comment.parent_comment_id.nil? %>
  <li><%= render 'comments/comment', current_comment: top_child_comment, all_comments: @all_comments %></li>
<% end %>
</ul>

<p>
<%= link_to "Reply!", new_post_comment_url(@post)%>
</p>
